body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.FULL {
    color:red;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
tr:nth-child(odd) {
    background-color:#f3f3f3;

}
tr:nth-child(even) {
    background-color:#e0e0e0;

}
tr:hover{
    background-color:#c5c5c5;
    
}
.picholder{
    background-color:#cecece;
    text-align:center;
    width:30px;
    height:20px;
    vertical-align:bottom;
    display:inline-block;
    border-radius:8px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
body{
  
  background-image: url('http://previews.123rf.com/images/donatas1205/donatas12051103/donatas1205110300082/9152280-Empty-parking-area-can-be-used-as-background-Stock-Photo-parking-garage-floor.jpg');
}

.buttonspan{
    background-color:#f3f3f3;
    border-radius:15px;
    display:inline-block;
    height:28px;
    padding-left:15px;
    padding-right:15px;
    border:4px solid #428bca;
    font-weight:bold;
}
.table{
    
    border:2px solid #808080;
    border-radius:15px;
}
.divfooter{
    background-image: url('http://i.istockimg.com/file_thumbview_approve/52775982/3/stock-photo-52775982-abstract-background-of-white-light.jpg');
    padding-top:15px; /* Lena ökat från 8 till 15 för syns skull till members create */
    border-radius:5px;
    padding-left:15px;
    padding-right:15px; /* Lena lagt till för vehiclelista i members detail */
    border:2px solid #808080;
}
.buttonspan:hover {
    background-color:#FFFFFF;
    border:4px solid #82BbFa;
}
.tblShadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar{
    background-color:#e6ddd4;
    background-image: url('http://i.istockimg.com/file_thumbview_approve/52775982/3/stock-photo-52775982-abstract-background-of-white-light.jpg'); 
}

.navbar-inverse .navbar-nav > li > a {
    color: #4e4026;
    background-color:#e6ddd4;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #e6ddd4;
    background-color:#7f715f;
}
.navbar-inverse .navbar-brand {
    color: #4e4026;
    text-shadow: 1px 1px 1px #4e4026, 0 0 20px #4e4026, 0 0 1px white;
    
}
.navbar-inverse .navbar-brand:hover {
    color: #7f715f;
}
.Receipt{

    background-color:#FFFFFF;
    background-image:none;

}
.SpannoVehicles{
    margin-right:10px;
}
select {
   height:24px;
   width:150px;
}
.BigMessage{

text-shadow: -1px 0 white, 0 1px black, 1px 0 black, 0 -1px white;

}